*{padding: 0px; margin: 0px; box-sizing: border-box;}

body{
    background-color: #FCCF3A;
    min-height: 100vh;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    margin: 5rem auto;
    border: 1px solid;
    box-shadow: -4px 4px 2px;
    padding: 2rem 0.7rem;
    background-color:cornflowerblue;
}

.content>h2{
    font-size:1.2rem;
    font-family: cursive;
    margin-bottom: .2rem;
}

.input-button{
   width: 100%;
   display: flex;
   gap:1rem;
   padding: 1rem 1rem;
   margin-bottom: .5rem;
   border-radius: 20px;
   align-items: center;
   justify-content: space-evenly;
}


#tarefa{
    margin-left: 2px;
    padding: 0.6rem;
    border: 1px double;
    font-size: 14px;  
    border-radius: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fa-plus,.fa-palette{
    transform: scale(1.6); 
}

.completed{
    text-decoration: line-through;
    opacity: 0.8 ;
    background-color: rgb(91, 206, 91);
    color:white;
}

.fa-trash, .fa-check{
    pointer-events: none;
}

.mdl-list__item{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    gap:1rem;
    border: 1px solid;
    padding: 0.7rem;
    align-items: center;
    min-width: 30%;
    list-style: none;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.the-div > button{
    width: 30px;
    height: 27px;
    margin: 0 0.2rem;
}

.completed-btn{
    background-color: rgb(74, 236, 74);
    color:white;
}

.delete-btn{
    background-color: rgb(245, 60, 60);
    color:white;
}

.list>ul{
display: grid;
justify-content: center;
gap:0.3rem;
}

li{
    background-color: #FCCF3A;
    color:black;
    display: flex;
    max-width: 300px;
    text-align:center;
    word-break: break-all;
}

#box-suspenso{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align:center;
    z-index: 2;
    position: absolute;
    top: 3%; /* posiciona na metade da tela */
    margin-top:-25px;/* e retrocede metade da altura */
    display: none;
    justify-content: center;
}


#box-dentro{
    border: 1px solid;
    width: max-content;
    margin: auto;
    padding: 3rem 1rem;
    padding-bottom: 1rem;
    background-color:crimson;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}


#bloco-suspenso-img2{
    margin: 0 0.6rem;
}

#bnt-box-suspenso{
    width: 30%;
    padding: 0.6rem;
    margin: 0rem auto;
    border-radius: 5px;
}

#box-dentro > h4{
    font-size: 16px;
    margin-top: -30px;
    color:white;
    font-family: cursive;
}
